<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
        integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">

    <title>
        <%= title %>
    </title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <% if (user.isLoggedIn) { %>
                <a class="navbar-brand" href="/">
                    <%= user.name %> Welcome to Dignitech
                </a>
                <% }else{ %>
                    <a class="navbar-brand" href="/">Degnitech</a>
                    <% } %>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#my-nav"
                            aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse ml-auto" id="my-nav">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/"><i
                                            class="fas fa-home me-1"></i>Home</a>
                                </li>
                                <% if (user.isLoggedIn) { %>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link active dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fas fa-user me-1"></i>
                                            Profile
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                                        </ul>
                                    </li>
                                    <% }else{ %>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" href="/auth/login"><i
                                                    class="fas fa-sign-in me-1"></i>Login</a>
                                        </li>
                                        <% } %>
                            </ul>
                        </div>
        </div>
    </nav>
    <!-- Navbar -->